{% extends "base.html" %}

{% block title %}Personal list {% endblock %}

{% load static %}
{% block content123 %}
<link rel="stylesheet" href="{% static 'css/hrpersonal.css' %}" />
{% endblock %}


{% block content %}
<div class="list_personal">
    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>Birth Date</th>
                <th>Email</th>
                <th>Phone</th>
                <th>MARITAL STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personals %}
            <tr>
                <td>{{ personal.CURRENT_FIRST_NAME }} {{ personal.CURRENT_MIDDLE_NAME }} {{ personal.CURRENT_LAST_NAME }}</td>
                <td>{{ personal.CURRENT_ADDRESS_1 }}</td>
                <td>{{ personal.BIRTH_DATE }}</td>
                <td>{{ personal.CURRENT_PERSONAL_EMAIL }} </td>
                <td>{{ personal.CURRENT_PHONE_NUMBER }}</td>
                <td>{{ personal.CURRENT_MARITAL_STATUS }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}