{% extends "base.html" %}
{% block title %}Jobhistory list {% endblock %}

{% load static %}
{% block content123 %}
<link rel="stylesheet" href="{% static 'css/hrjob.css' %}" />
{% endblock %}


{% block content %}
<div class="list_jobhistory" style="margin-right: 50px;margin-left: 50px;">
    <table>
        <thead>
            <tr>
                <th>EMPLOYMENT</th>
                <th>DEPARTMENT</th>
                <th>DIVISION</th>
                <th>FROM DATE - THRU DATE</th>
                <th>JOB_TITLE</th>
                <th>SUPERVISOR</th>
                <th>LOCATION</th>
                <th>TYPE OF WORK</th>
            </tr>
        </thead>
        <tbody>
            {% for jobhistory in jobhistorys %}
            <tr>
                <td>{{ jobhistory.EMPLOYMENT }}</td>
                <td>{{ jobhistory.DEPARTMENT }}</td>
                <td>{{ jobhistory.DIVISION }}</td>
                <td>{{ jobhistory.FROM_DATE }} - {{ jobhistory.THRU_DATE }}</td>
                <td>{{ jobhistory.JOB_TITLE }}</td>
                <td>{{ jobhistory.SUPERVISOR }}</td>
                <td>{{ jobhistory.LOCATION }}</td>
                <td>{{ jobhistory.TYPE_OF_WORK }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}