{% extends "base.html" %}
{% block title %}Benefit Plan list {% endblock %}
{% load static %}
{% block content123 %}
<link rel="stylesheet" href="{% static 'css/hrbenefit.css' %}" />
{% endblock %}
{% block content %}
<div class="list_benefitplan" style="margin-right: 150px;margin-left: 150px;">
    <table>
        <thead>
            <tr>
                <th>BENEFIT PLANS ID</th>
                <th>PLAN NAME</th>
                <th>DEDUCTABLE</th>
                <th>PERCENTAGE COPAY</th>
            </tr>
        </thead>
        <tbody>
            {% for benefitplan in benefitplans %}
            <tr>
                <td>{{ benefitplan.BENEFIT_PLANS_ID }}</td>
                <td>{{ benefitplan.PLAN_NAME }}</td>
                <td>{{ benefitplan.DEDUCTABLE }}</td>
                <td>{{ benefitplan.PERCENTAGE_COPAY }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}