{% extends "base.html" %}
{% block content123 %}
<style>
    body {
    font-family: Arial, sans-serif;
}

.list_jobhistory {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

</style>
{% endblock %}
{% block content %}

<div class="list_jobhistory">
    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>Birth Date</th>
                <th>Email</th>
                <th>Phone</th>
                <th>MARITAL STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personals %}
            <tr>
                <td>{{ personal.CURRENT_FIRST_NAME }} {{ personal.CURRENT_MIDDLE_NAME }} {{ personal.CURRENT_LAST_NAME }}</td>
                <td>{{ personal.CURRENT_ADDRESS_1 }}</td>
                <td>{{ personal.BIRTH_DATE }}</td>
                <td>{{ personal.CURRENT_PERSONAL_EMAIL }} </td>
                <td>{{ personal.CURRENT_PHONE_NUMBER }}</td>
                <td>{{ personal.CURRENT_MARITAL_STATUS }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}