{% extends "base.html" %}
{% block title %}Employment working times list {% endblock %}
{% block content123 %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 15px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.list_employmentworkingtimes table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.list_employmentworkingtimes th, .list_employmentworkingtimes td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.list_employmentworkingtimes th {
    background-color: #f2f2f2;
}

.list_employmentworkingtimes tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.list_employmentworkingtimes tbody tr:hover {
    background-color: #e9e9e9;
}

</style>
{% endblock %}
{% block content %}
<div class="list_employmentworkingtimes">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>EMPLOYMENT</th>
                <th>YEAR WORKING</th>
                <th>MONTH WORKING</th>
                <th>DAYS ACTUAL WORKING PER MONTH</th>
                <th>TOTAL VACATION </th>
            </tr>
        </thead>
        <tbody>
            {% for employmentworkingtime in employmentworkingtimes %}
            <tr>
                <td>{{ employmentworkingtime.EMPLOYMENT_WORKING_TIME_ID }}</td>
                <td>{{ employmentworkingtime.EMPLOYMENT }}</td>
                <td>{{ employmentworkingtime.YEAR_WORKING }}</td>
                <td>{{ employmentworkingtime.MONTH_WORKING }}</td>
                <td>{{ employmentworkingtime.NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH }}</td>
                <td>{{ employmentworkingtime.TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}