{% extends "base.html" %}
{% block title %}Employment working times list {% endblock %}
{% load static %}
{% block content123 %}
<link rel="stylesheet" href="{% static 'css/hremploymentworking.css' %}" />
{% endblock %}
{% block content %}
<div class="list_employmentworkingtimes" style="margin-right: 50px;margin-left: 50px;">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>EMPLOYMENT</th>
                <th>YEAR WORKING</th>
                <th>MONTH WORKING</th>
                <th>DAYS ACTUAL WORKING PER MONTH</th>
                <th>TOTAL VACATION </th>
            </tr>
        </thead>
        <tbody>
            {% for employmentworkingtime in employmentworkingtimes %}
            <tr>
                <td>{{ employmentworkingtime.EMPLOYMENT_WORKING_TIME_ID }}</td>
                <td>{{ employmentworkingtime.EMPLOYMENT }}</td>
                <td>{{ employmentworkingtime.YEAR_WORKING }}</td>
                <td>{{ employmentworkingtime.MONTH_WORKING }}</td>
                <td>{{ employmentworkingtime.NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH }}</td>
                <td>{{ employmentworkingtime.TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}