{% extends "base.html" %}

{% block title %}Personal list {% endblock %}

{% block content123 %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 960px;
        margin: 20px auto;
        padding: 0 15px;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .list_personal table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .list_personal th, .list_personal td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    .list_personal th {
        background-color: #f2f2f2;
    }

    .list_personal tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .list_personal tbody tr:hover {
        background-color: #e9e9e9;
    }
</style>
{% endblock %}


{% block content %}
<div class="list_personal">
    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>Birth Date</th>
                <th>Email</th>
                <th>Phone</th>
                <th>MARITAL STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personals %}
            <tr>
                <td>{{ personal.CURRENT_FIRST_NAME }} {{ personal.CURRENT_MIDDLE_NAME }} {{ personal.CURRENT_LAST_NAME }}</td>
                <td>{{ personal.CURRENT_ADDRESS_1 }}</td>
                <td>{{ personal.BIRTH_DATE }}</td>
                <td>{{ personal.CURRENT_PERSONAL_EMAIL }} </td>
                <td>{{ personal.CURRENT_PHONE_NUMBER }}</td>
                <td>{{ personal.CURRENT_MARITAL_STATUS }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}