{% extends "base.html" %}
{% block title %}Employment list {% endblock %}
{% load static %}
{% block content123 %}
<link rel="stylesheet" href="{% static 'css/hremployment.css' %}" />
{% endblock %}
{% block content %}
<div class="list_employment" style="margin-right: 50px;margin-left: 50px;">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>EMPLOYMENT CODE</th>
                <th>Personal</th>
                <th>EMPLOYMENT STATUS</th>
                <th>HIRE DATE</th>
                <th>WORKERS COMP CODE</th>
                <th>TERMINATION DATE</th>
                <th>REHIRE DATE </th>
                <th>LAST REVIEW DATE</th>
                <th>DAYS REQUIREMENT WORKING PER MONTH</th>

            </tr>
        </thead>
        <tbody>
            {% for employment in employments %}
            <tr>
                <td>{{ employment.EMPLOYMENT_ID }}</td>
                <td>{{ employment.EMPLOYMENT_CODE }}</td>
                <td>{{ employment.personal }}</td>
                <td>{{ employment.EMPLOYMENT_STATUS }}</td>
                <td>{{ employment.HIRE_DATE_FOR_WORKING }}</td>
                <td>{{ employment.WORKERS_COMP_CODE }}</td>
                <td>{{ employment.TERMINATION_DATE }}</td>
                <td>{{ employment.REHIRE_DATE_FOR_WORKING }}</td>
                <td>{{ employment.LAST_REVIEW_DATE }}</td>
                <td>{{ employment.NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}