{% extends "base.html" %}
{% block title %}Personal Information Update{% endblock %}
{% load static %}
{% block content123 %}
<link rel="stylesheet" href="{% static 'css/updatepersonal.css' %}" />
{% endblock %}

{% block content %}


<div class="container">
    <div class="title_main">
        <a style="padding-top: 5px;" href="">
            <img src="{% static 'assest/previous.svg' %}" alt="">
        </a>
        <div class="list_main">
            <a href="{% url 'overview_app:totalpayrate' %}" class="previous_page">DashBoard</a>
            <p class="space">/</p>
            <a href="{% url 'overview_app:employee_detail' %}" class="previous_page">Employee Management</a>
            <p class="space">/</p>
            <a style="color: black;" href="" class="previous_page">Update Personal</a>
        </div>
    </div>


    <form action="{% url 'overview_app:personal_update' personalid=personal.PERSONAL_ID %}"
          method="post">
        {% csrf_token %}
        <div class="add_members">
            <div class="add_member-list-1">
                <h1 class="list_content">Update Personal</h1>
            </div>

            <ul class="add_member-title-1">
                <div class="input_information-left">
                    <div class="input_information">
                        <label for="current_first_name" class="information_content">First Name</label>
                        <input type="text" class="input" id="current_first_name"
                               name="current_first_name"
                               value="{{ personal.CURRENT_FIRST_NAME }}">
                    </div>
                    <div class="input_information">
                        <label for="current_last_name" class="information_content">Last Name</label>
                        <input type="text" class="input" id="current_last_name"
                               name="current_last_name"
                               value="{{ personal.CURRENT_LAST_NAME }}">
                    </div>
                    <div class="input_information">
                        <label for="current_middle_name" class="information_content">Middle Name</label>
                        <input type="text" class="input" id="current_middle_name"
                               name="current_middle_name"
                               value="{{ personal.CURRENT_MIDDLE_NAME }}">
                    </div>
                    <div class="input_information">
                        <label for="birth_date" class="information_content">Birth Date</label>
                        <input type="date" class="input" id="birth_date" name="birth_date"
                               value="{% if personal.BIRTH_DATE %}{{ personal.BIRTH_DATE|date:'Y-m-d' }}{% endif %}">
                    </div>
                    <div class="input_information">
                        <label for="social_security_number" class="information_content">Social Security
                            Number</label>
                        <input type="text" class="input" id="social_security_number"
                               name="social_security_number"
                               value="{{ personal.SOCIAL_SECURITY_NUMBER }}">
                    </div>
                    <div class="input_information">
                        <label for="drivers_license" class="information_content">Driver's License</label>
                        <input type="text" class="input" id="drivers_license" name="drivers_license"
                               value="{{ personal.DRIVERS_LICENSE }}">
                    </div>
                </div>

                <div class="input_information-mid">
                    <div class="input_information">
                        <label for="current_address_1" class="information_content">Address Line 1</label>
                        <input type="text" class="input" id="current_address_1"
                               name="current_address_1"
                               value="{{ personal.CURRENT_ADDRESS_1 }}">
                    </div>
                    <div class="input_information">
                        <label for="current_address_2" class="information_content">Address Line 2</label>
                        <input type="text" class="input" id="current_address_2"
                               name="current_address_2"
                               value="{{ personal.CURRENT_ADDRESS_2 }}">
                    </div>
                    <div class="input_information">
                        <label for="current_city" class="information_content">City</label>
                        <input type="text" class="input" id="current_city" name="current_city"
                               value="{{ personal.CURRENT_CITY }}">
                    </div>
                    <div class="input_information">
                        <label for="current_country" class="information_content">Country</label>
                        <input type="text" class="input" id="current_country" name="current_country"
                               value="{{ personal.CURRENT_COUNTRY }}">
                    </div>
                    <div class="input_information">
                        <label for="current_zip" class="information_content">ZIP Code</label>
                        <input type="text" class="input" id="current_zip" name="current_zip"
                               value="{{ personal.CURRENT_ZIP }}">
                    </div>
                    <div class="input_information">
                        <label for="current_gender" class="information_content">Gender</label>
                        <input type="text" class="input" id="current_gender" name="current_gender"
                               value="{{ personal.CURRENT_GENDER }}">
                    </div>
                </div>

                <div class="input_information-right">
                    <div class="input_information">
                        <label for="current_phone_number" class="information_content">Phone Number</label>
                        <input type="text" class="input" id="current_phone_number"
                               name="current_phone_number"
                               value="{{ personal.CURRENT_PHONE_NUMBER }}">
                    </div>
                    <div class="input_information">
                        <label for="current_personal_email" class="information_content">Email</label>
                        <input type="text" class="input" id="current_personal_email"
                               name="current_personal_email"
                               value="{{ personal.CURRENT_PERSONAL_EMAIL }}">
                    </div>
                    <div class="input_information">
                        <label for="current_marital_status" class="information_content">Marital
                            Status</label>
                        <input type="text" class="input" id="current_marital_status"
                               name="current_marital_status"
                               value="{{ personal.CURRENT_MARITAL_STATUS }}">
                    </div>
                    <div class="input_information">
                        <label for="ethnicity" class="information_content">Ethnicity</label>
                        <input type="text" class="input" id="ethnicity" name="ethnicity"
                               value="{{ personal.ETHNICITY }}">
                    </div>
                    <div class="input_information">
                        <label for="shareholder_status" class="information_content">Shareholder
                            Status</label>
                        <input type="text" class="input" id="shareholder_status"
                               name="shareholder_status"
                               value="{{ personal.SHAREHOLDER_STATUS }}">
                    </div>
                    <div class="input_information">
                        <label for="benefit_plan" class="information_content">Benefit Plan</label>
                        <select class="input" id="benefit_plan" name="benefit_plan">
                            {% for plan in benefit_plans %}
                            <option value="{{ plan.BENEFIT_PLANS_ID }}" {% if
                                    personal.BENEFIT_PLAN.BENEFIT_PLANS_ID== plan.BENEFIT_PLANS_ID %}
                                    selected
                                    {%
                                    endif %}>
                                {{ plan.PLAN_NAME }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </ul>
            <div class="notifications"></div>
            <div class="buttons">
                <button id="success">Success</button>
            </div>
        </div>
    </form>
</div>
<script>
    let notifications = document.querySelector('.notifications');
    let success = document.getElementById('success');

    function createToast(type, icon, title, text) {
        let newToast = document.createElement('div');
        newToast.innerHTML = `
            <div class="toast ${type}">
                <i class="${icon}"></i>
                <div class="content">
                    <div class="title">${title}</div>
                    <span>${text}</span>
                </div>
                <i class="fa-solid fa-xmark" onclick="(this.parentElement).remove()"></i>
            </div>`;
        notifications.appendChild(newToast);
        newToast.timeOut = setTimeout(
            () => newToast.remove(), 5000
        )
    }

    success.onclick = function () {
        let type = 'success';
        let icon = 'fa-solid fa-circle-check';
        let title = 'Success';
        let text = 'This is a success toast.';
        createToast(type, icon, title, text);
    }

</script>
{% endblock %}