{% extends "base.html" %}
{% load static %}
{% block title %}Employee detail{% endblock %}

{% block content123 %}
<style>
    /* Table styling */
    .main_last-chart {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px;
        margin-top: 25px;
    }

    /* Table header */
    .main_last-chart table {
        width: 100%;
        border-collapse: collapse;
    }

    .main_last-chart th {
        padding: 15px;
        background-color: #0095ff;
        color: #ffffff;
        border-bottom: 2px solid #007acc;
        text-align: left;
    }

    /* Table rows */
    .main_last-chart td {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    /* Alternate row background */
    .main_last-chart tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Update link */
    .main_last-chart a {
        color: #007acc;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .main_last-chart a:hover {
        color: #005a9c;
    }

    /*-------------------*/
    .main{
    padding: 30px;
    font-family: "Poppins", sans-serif;
}
.header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_main-right{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}
.right_title::before{
    content: "";
    margin-left: 10px;
}

.line{
    position: absolute;
    width: 80px;
    height: 3px;
    top: 60px;
    background: linear-gradient(90deg, #FA5252 0%, #DD2476 100%);
    border-radius: 2px;
}

.header_main-left{

}

.main-left_info{
    display: flex;
    justify-content: flex-end;
    gap: 5px;

}

.main-left_title{

}

.navbar{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.navbar_title{
    font-weight: 600;

}

.navbar_add{
    background-color: #5d5fef;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.table_main{
    font-family: "Poppins", sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;

}

.table_main.hide{
    display: none;
}

.table_main tbody tr:nth-child(even){

    background-color: #c1bcbc65;
}


.table_list{
    background-color: #5d5fef;
    color: #ffffff;


}
.table_list-content{
    text-align: center;
    padding: 10px;
   position: relative;



}

.table_list-edit{
    cursor: pointer;
}



.add_members{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    display: none;
}

.add_members.active{
    display: block;
}

.add_member-list-1{
    cursor: pointer;
}

.add_member-list-2{
    cursor: pointer;
}

.list_content{

}

.add_member-title-1{
    height: 0;
    transition: all .3s;
    overflow: hidden;

}

.add_member-title-1.active{
    height: max-content;

}

.add_member-title-2{
    height: 0;
    transition: all .3s;
    overflow: hidden;
}

.add_member-title-2.active{
    height: max-content;

}

.table-input_information{

}
.input_information{
    display: flex;
    padding: 10px;
}
.information_content{
    min-width: 400px;
}

.note{
    padding: 10px;
    /* position: relative; */
}

.dropdown1{
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    background: #f1ecec;
    position: absolute;
    top: 102%;
    left: 19px;
    display: none;
    z-index: 9999;


}

.dropdown1.active{
    display: block;
}

.img_note{
    position: absolute;
    top: -21px;
    left: 30px;
}

.note_list{
    padding-left: 15px;

}

.table_list-content:last-child{
   display:flex;
   justify-content: center;
   gap: 10px;
}




</style>
{% endblock %}

{% block content %}

<div class="header_main">
    <div class="header_main-right">
        <a href="#" class="right_title1">Employee</a>
        <a href="http://127.0.0.1:8000/admin/" class="right_title">Admin</a>
        <div class="line"></div>
    </div>

    <div class="header_main-left">
        <div class="main-left_info">
            <h4 class="main-left_title">total salary: </h4>
            <p>{{totalsalary}}</p>
        </div>

        <div class="main-left_info">
            <h4 class="main-left_title">total members: </h4>
            <p>{{totalmember}}</p>
        </div>
    </div>

</div>

<div class="navbar">
    <h2 class="navbar_title">Members</h2>
    <a href="{% url 'overview_app:employee_add' %}" class="navbar_add">Add employee</a>
</div>
<table class="table_main ">
    <thead>
    <tr class="table_list">
        <th class="table_list-content">ID</th>
        <th class="table_list-content">Name</th>
        <th class="table_list-content">SSN</th>
        <th class="table_list-content">Birth Days</th>
        <th class="table_list-content">Address</th>
        <th class="table_list-content">Phone</th>
        <th class="table_list-content">Status</th>
        <th class="table_list-content">Operation</th>
    </tr>
    </thead>
    <tbody>
    {% csrf_token %}
    {% for employee, employment, personal in employee_data %}
    <tr>
        <td class="table_list-content">{{ employee.EmployeeNumber }}</td>
        <td class="table_list-content">{{ employee.LastName }} {{ employee.FirstName }}</td>
        <td class="table_list-content">{{ employee.SSN }}</td>
        <td class="table_list-content">{{ personal.BIRTH_DATE }}</td>
        <td class="table_list-content">{{ personal.CURRENT_ADDRESS_1 }}</td>
        <td class="table_list-content">{{ personal.CURRENT_PHONE_NUMBER }}</td>
        <td class="table_list-content">Active</td>
        <td class="table_list-content">
            <div class="table_list-edit">
                <img src="{% static 'assest/edit.svg' %}" alt="">
                <ul class="dropdown1">
                    <a class="note_list" href="{% url 'overview_app:employee_update' employeeid=employee.idEmployee %}">Employee</a>
                    <a class="note_list"
                       href="{% url 'overview_app:employment_update' employmentid=employment.EMPLOYMENT_ID %}">Employment</a>
                    <a class="note_list"
                       href="{% url 'overview_app:personal_update' personalid=personal.PERSONAL_ID %}">Personal</a>
                    <img class="img_note" src=" {% static 'assest/top-triangle.svg' %}" alt="">
                </ul>
            </div>

            <a onclick="del_employee('{{employee.idEmployee}}', '{{employment.EMPLOYMENT_ID}}', '{{personal.PERSONAL_ID}}')"
               href="" class="table_list-delete">
                <img src="{% static 'assest/delete.svg' %}" alt="">
            </a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function del_employee(employeeid, employmentid, personalid) {
    var confirmation = confirm("Bạn có chắc chắn muốn xóa dữ liệu không?");
    if (confirmation) {
        $.ajax({
            type: "GET",
            url: "/employee_delete/",
            data: {
                employee_id: employeeid,
                employment_id: employmentid,
                personal_id: personalid,
            },
            success: function (parsedData) {
                console.log(parsedData)
                alert(parsedData["mess"])
                window.location.reload();
            },
        });
    }
}

</script>

<script>
    const tableListEdit = document.querySelectorAll('.table_list-edit');
const dropdowns = document.querySelectorAll(".dropdown1")


tableListEdit.forEach((item, index) =>{

    item.addEventListener("click", () =>{
        dropdowns[index].classList.toggle("active")
    })
})

</script>

{% endblock %}