{% extends "base.html" %}
{% load static %}
{% block title %}Birth Day{% endblock %}

{% block content %}
<div class="main_last-chart" style=" background-color: #ffffff; border-radius: 20px; padding: 20px; margin-top: 25px;">
    <P>There are {{totalexcess}} people working more than the prescribed number of days</P>
    <table border="1">
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
        </tr>
        {% for person in excess %}
        <tr>
            <td>{{ person.EmployeeNumber }}</td>
            <td>{{ person.LastName }} {{ person.FirstName }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}