{% extends "base.html" %}
{% load static %}
{% block title %}Hiring anniversary{% endblock %}
{% block content123 %}
<style>
    .from h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

.from p {
  margin: 20px;
}

.from-2 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
}

.from-2 img {
  width: 20%;
  height: auto;
  margin: 25px;
  border: 1px solid #999999;

}
</style>
{% endblock %}

{% block content %}
<div class="from">
    <h1>Giới Thiệu Về Ngày 7 Tháng 5, 70 Năm Chiến Thắng Điện Biên Phủ</h1>
    <p>
        Chiến thắng Điện Biên Phủ, diễn ra từ tháng 3 đến tháng 5 năm 1954 tại
        Điện Biên Phủ, là một trong những sự kiện quân sự quan trọng nhất
        trong lịch sử của Việt Nam. Dưới sự lãnh đạo của Đại tá Võ Nguyên
        Giáp, quân đội Việt Minh đã đánh bại hệ thống pháo đài của quân Pháp,
        đánh dấu sự kết thúc cho thời kỳ thực dân Pháp tại Việt Nam. Chiến
        thắng này không chỉ là một chiến công quân sự mà còn là biểu tượng của
        sức mạnh và quyết tâm của dân tộc Việt Nam trong cuộc đấu tranh cho
        độc lập, tự do và thống nhất quốc gia.
    </p>
    <h2>1. Chiến Công Và Những Người Anh Hùng</h2>
    <p>
        + Những người lính dũng cảm đã hi sinh mạng sống của mình trong cuộc
        chiến ác liệt tại Điện Biên Phủ. Sự hy sinh của họ đã góp phần quan
        trọng vào chiến thắng lịch sử này, tạo ra một biểu tượng của lòng dũng
        cảm và đoàn kết dân tộc.
    </p>
    <p>
        + Đặc biệt, Đại tá Võ Nguyên Giáp, một nhà chiến lược quân sự tài ba,
        đã thể hiện sự tinh thông trong việc lập kế hoạch chiến thuật và điều
        phối quân đội một cách thông minh và hiệu quả. Ông đã trở thành biểu
        tượng của sự lãnh đạo xuất sắc trong cuộc chiến tranh giành độc lập
        cho Việt Nam.
    </p>
    <p>
        + Nhờ vào sự hy sinh và dũng cảm của những người anh hùng này, chiến
        công Điện Biên Phủ đã trở thành một biểu tượng của lòng yêu nước và
        tinh thần không khuất phục của dân tộc Việt Nam trong cuộc đấu tranh
        cho độc lập và tự do.
    </p>
    <h2>2. Kỷ Niệm Và Tầm Quan Trọng Hiện Nay</h2>
    <p>
        + Đầu tiên, việc kỷ niệm Chiến thắng Điện Biên Phủ giúp tăng cường
        lòng tự hào dân tộc và tinh thần đoàn kết trong cộng đồng. Nó là dịp
        để tôn vinh những nỗ lực và sự hy sinh của các anh hùng dân tộc, góp
        phần củng cố lòng yêu nước và tinh thần quốc gia.
    </p>
    <p>
        + Thứ hai, Chiến thắng Điện Biên Phủ là một bài học lịch sử quan
        trọng, nhấn mạnh về tầm quan trọng của sự đoàn kết, quyết tâm và kiên
        trì trong cuộc đấu tranh cho độc lập và tự do. Nó gợi nhớ về những giá trị cốt lõi mà người Việt Nam đã trải qua
        trong quá khứ, và là nguồn
        động viên để vươn lên và đối mặt với những thách thức hiện tại và
        tương lai.
    </p>
    <p>
        + Cuối cùng, việc kỷ niệm Chiến thắng Điện Biên Phủ cũng là cơ hội để
        xây dựng và phát triển mối quan hệ hữu nghị và hợp tác quốc tế. Nó thể
        hiện cam kết của Việt Nam với hòa bình, ổn định và phát triển toàn
        cầu, đồng thời giúp thúc đẩy sự hiểu biết và hợp tác với các quốc gia
        khác trên thế giới.
    </p>
</div>

{% endblock %}