{% extends "base.html" %}
{% load static %}
{% block title %}Hiring anniversary{% endblock %}
{% block content123 %}
<style>
    .from h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

.from p {
  margin: 20px;
}

.from-2 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
}

.from-2 img {
  width: 20%;
  height: auto;
  margin: 25px;
  border: 1px solid #999999;

}
</style>
{% endblock %}

{% block content %}
<div class="from">
    <h1>Giới Thiệu Về Ngày 30 Tháng 4, Ngày 1 Tháng Năm</h1>
    <p>
        Ngày lễ 30/4 và 1/5 là hai ngày quan trọng trong lịch sử của Việt Nam
        và thế giới. Ngày 30/4 được gọi là Ngày Giải phóng miền Nam, Thống
        nhất đất nước, kỷ niệm chiến thắng quân sự quyết định của Việt Nam
        trong cuộc chiến tranh, chấm dứt chiến tranh Việt Nam và thống nhất
        đất nước vào năm 1975. Ngày 1/5 là Ngày Quốc tế Lao động, được tôn
        vinh trên toàn thế giới để ghi nhận công lao và đóng góp của người lao
        động vào xã hội.
    </p>
    <h2>1. Kỷ Niệm Và Hoạt Động Trong Ngày Lễ</h2>
    <p>
        + Lễ duyệt binh: Đây là một hoạt động truyền thống được tổ chức để tôn
        vinh những người lính đã hy sinh và chiến đấu dũng cảm trong các cuộc
        chiến tranh, đặc biệt là trong ngày lễ 30/4.
    </p>
    <p>
        + Diễn tập và triển lãm: Các diễn tập và triển lãm về lịch sử, văn hóa
        và các chiến công của quân đội thường được tổ chức để ghi nhận và tôn
        vinh những thành tựu của quốc gia
    </p>
    <p>
        + Chương trình văn nghệ và biểu diễn: Các chương trình biểu diễn như
        nhạc hội, văn nghệ dân gian, hoặc vở kịch có thể được tổ chức để mang
        lại niềm vui và sự gần gũi trong cộng đồng.
    </p>
    <h2>2. Ý Nghĩa Của Việc Kỷ Niệm Và Tôn Vinh Hai Ngày Lễ Này</h2>
    <p>
        + Ghi nhận lịch sử: Hai ngày lễ này là cơ hội để ghi nhận và tôn vinh
        những sự kiện lịch sử quan trọng của đất nước, như chiến thắng trong
        cuộc chiến tranh giải phóng miền Nam và thống nhất đất nước, cũng như
        việc công nhận công lao của người lao động trong xã hội.
    </p>
    <p>
        + Tôn vinh người hy sinh: Thông qua các hoạt động kỷ niệm, người dân
        có cơ hội tôn vinh và ghi nhận công lao, sự hy sinh của những người đã
        đóng góp vào chiến công lịch sử và phát triển đất nước.
    </p>
    <p>
        + Khuyến khích tinh thần đồng đội: Việc tổ chức các hoạt động từ thiện
        và xã hội vào những dịp này khuyến khích tinh thần đồng đội và lòng
        nhân ái trong xã hội, giúp xây dựng một cộng đồng phát triển và hòa
        bình.
    </p>
</div>
{% endblock %}