{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<div class="main_first-card">
    <h3 style="margin: 23px 0 50px 31px; font-family: Poppins, sans-serif;">Overview</h3>
    <div class="all-first_card">
        <a href="{% url 'overview_app:tbtotalpayrate' %}" class="card"
           style="background-color:#FFE2E5; text-decoration: none; color: black;">
            <img class="card_img" style="background-color: #FA5A7D;" src="{% static 'assest/earning.svg' %}" alt="">
            <div class="card_title">
                <p class="card_percent" style="margin-bottom: 20px;">{{ totalpayrate }}</p>
                <p>Earnings</p>
            </div>
        </a>

        <a href="{% url 'overview_app:totalvacation' %}" class="card"
           style="background-color: #FFF4DE; text-decoration: none; color: black;">
            <img class="card_img" style="background-color: #FF947A;" src="{% static 'assest/vacation.svg' %}" alt="">
            <div class="card_title">
                <p class="card_percent" style="margin-bottom: 20px;">{{ totalvacationday }}</p>
                <p>Vacation Days</p>
            </div>
        </a>

        <a href="{% url 'overview_app:benefitplan' %}" class="card"
           style="background-color: #E0E9FF; text-decoration: none; color: black;">
            <img class="card_img" style="background-color: #A0BBFF;" src="{% static 'assest/benefit1.svg' %}" alt="">
            <div class="card_title">
                <p>Benefit</p>
            </div>
        </a>

        <a href="{% url 'overview_app:hiringanniversary' %}" class="card"
           style="background-color: #DCFCE7; text-decoration: none; color: black;">
            <img class="card_img" style="background-color: #3CD856;" src="{% static 'assest/anniversary.svg' %}" alt="">
            <div class="card_title">
                <p class="card_percent" style="margin-bottom: 20px;"></p>
                <p>Hiring Anniversary</p>
            </div>
        </a>

        <a href="{% url 'overview_app:excessvacationday' %}" class="card"
           style="background-color: #F3E8FF; text-decoration: none; color: black;">
            <img class="card_img" style="background-color: #BF83FF;" src="{% static 'assest/vacationday.svg' %}" alt="">
            <div class="card_title">
                <p class="card_percent" style="margin-bottom: 20px;">{{totalexcess}}</p>
                <p style="margin-right: 10px;">Excess vacation days</p>
            </div>
        </a>
    </div>
</div>

<div class="main_generality">
    <div class="main_second-card">
        <h3 style="margin: 23px 0 50px 31px; font-family: Poppins, sans-serif;">Overview</h3>
        <div class="all-second_card">

            <a href="{% url 'overview_app:benefit_detail' %}" class="card"
               style="background-color:#FFE2E5; text-decoration: none; color: black;">
                <img class="card_img" style="background-color: #FA5A7D;"
                     src="{% static 'assest/benefitplanchange.svg' %}" alt="">
                <div class="card_title">
                    <p class="card_percent" style="margin-bottom: 20px;"></p>
                    <p>Benefit Plan Change</p>
                </div>
            </a>

            <a href="{% url 'overview_app:birthday_count' %}" class="card"
               style="background-color: #FFF4DE; text-decoration: none; color: black;">
                <img class="card_img" style="background-color: #FF947A;" src="{% static 'assest/birthday-cake.svg' %}"
                     alt="">
                <div class="card_title">
                    <p class="card_percent" style="margin-bottom: 20px;">{{birthday_count}}</p>
                    <p>Birthdays</p>
                </div>
            </a>
        </div>
    </div>
    <div class="main_last-chart">
        <h3 style="margin: 23px 0 50px 31px; font-family: Poppins, sans-serif;">Employee Management</h3>

        <div class="all-last_card">
            <a href="{% url 'overview_app:employee_detail' %}" class="card"
               style="background-color: #00b8e452; text-decoration: none; color: black;">
                <img class="card_img" style="width:50px; height: 50px; margin-left: 10px; margin-top: 15px;" src="{% static 'img/user.jpg' %}" alt="">
                <div class="card_title">
                    <p class="card_percent" style="margin-bottom: 20px;"></p>
                    <p>Employee</p>
                </div>
            </a>

            <div class="clock">
                <div class="item">
                    <span id="hour">00</span>
                    <span id="time">Hour</span>
                </div>
                <div class="item">
                    <span id="min">00</span>
                    <span id="time">Minute</span>
                </div>
                <div class="item">
                    <span id="sec">00</span>
                    <span id="time">Second</span>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    const hour = document.getElementById('hour');
    const min = document.getElementById('min');
    const sec = document.getElementById('sec');

    function updateTime() {
        let today = new Date();
        let hr = today.getHours();
        let mn = today.getMinutes();
        let se = today.getSeconds();

        if (hr < 10) hr = '0' + hr;
        if (mn < 10) mn = '0' + mn;
        if (se < 10) se = '0' + se;

        hour.textContent = hr;
        min.textContent = mn;
        sec.textContent = se;
    }

    setInterval(updateTime, 1000);
    updateTime();
</script>
{% endblock %}
