{% extends "base.html" %}
{% load static %}
{% block title %}Employee update{% endblock %}

{% block content123 %}
<style>
  .main{
    padding: 40px 20px;
    margin-left: 300px;
    font-family: "Poppins", sans-serif;

}

.main_content{
    /* margin: 40px 20px; */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 10px;
    padding-bottom: 30px;
}

.title_main{
    display: flex;
    align-items: center;
    gap: 15px;
}
.list_main{
    display: flex;
    align-items: center;
    gap: 10px;
}
.previous_page{

}
.space{
    font-weight: 600;
    /* font-size: 20px;  */
    color: #737791;
}

.main_title{
    padding: 20px;
}
.main_title h3{
    font-size: 30px;
    font-weight: 700;
}

.main_text{
    /* margin-top: 30px; */
    padding-left: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 35px;
    justify-content: center;

}
.main_text p{
    font-size: 20px;
    /* color: rgb(115, 119, 145); */
    /* color: #5D5FEF; */
}
.main_text input{
    padding: 6px 5px;
    width: 316px;
    border: 2px solid #5D5FEF;
    border-radius: 10px;
}
.text_item{
    display: flex;
}
.text_item p{
    min-width: 300px;
}
.buttom_add{
    text-align: center;
}
.buttom_add a{
    padding: 20px 30px;
    background-color: #5D5FEF;
    color: #fff;
    border-radius: 16px;
    text-align: center;
}

/*alert*/
    button{
    padding: 10px;
}
.notifications{
    position: fixed;
    top: 30px;
    right: 20px;
}
.toast{
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    background-image:
        linear-gradient(
            to right, #0abf3055, #22242f 30%
        );
    animation: show 0.3s ease 1 forwards
}
.toast i{
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.toast .title{
    font-size: x-large;
    font-weight: bold;
}
.toast span, .toast i:nth-child(3){
    color: #fff;
    opacity: 0.6;
}
@keyframes show{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
.toast::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 5s linear 1 forwards
}
@keyframes timeOut{
    to{
        width: 0;
    }
}


.buttons{
    text-align: center;
    margin-top: 20px;
}

#success{
    background-color: #5d5fef;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;

}
</style>

</style>
{% endblock %}

{% block content %}
<div class="title_main">
    <a style="padding-top: 5px;" href="">
        <img src="{% static 'assest/previous.svg' %}" alt="">
    </a>
    <div class="list_main">
        <a href="{% url 'overview_app:totalpayrate' %" class="previous_page">DashBoard</a>
        <p class="space">/</p>
        <a href="{% url 'overview_app:employee_detail' %}" class="previous_page">Employee Management</a>
        <p class="space">/</p>
        <a style="color: black;" href="" class="previous_page">Update Employee</a>
    </div>
</div>

<form action="{% url 'overview_app:employee_update' employeeid=employee.idEmployee %}" method="post">
    {% csrf_token %}
    <div class="main_content">
        <div class="main_title">
            <h3>Update Employee</h3>
        </div>

        <div class="main_text">
            <input type="hidden" id="employee_id" name="employee_id" value="{{ employee.idEmployee }}">
            <div class="text_item">
                <p for="employee_number">Employee Code</p>
                <input type="text" class="form-control" id="employee_number" name="employee_number" value="{{ employee.EmployeeNumber }}"
                   placeholder="Nhập mã nhân viên">
            </div>

                <div class="text_item">
                    <p for="last_name">Last Name</p>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ employee.LastName }}" placeholder="Nhập họ của nhân viên">
                </div>

                <div class="text_item">
                    <p for="first_name">First Name</p>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ employee.FirstName }}"
                   placeholder="Nhập tên của nhân viên">
                </div>

                <div class="text_item">
                    <p for="ssn">SSN</p>
                    <input type="text" class="form-control" id="ssn" name="ssn" value="{{ employee.SSN }}" placeholder="Nhập số SSN">
                </div>

                <div class="text_item">
                    <p for="pay_rate">Pay Rate</p>
                    <input type="text" class="form-control" id="pay_rate" name="pay_rate" value="{{ employee.PayRate }}" placeholder="Nhập mức lương">
                </div>

                <div class="text_item">
                    <p for="vacation_days">Vacation Days</p>
                    <input type="text" class="form-control" id="vacation_days" name="vacation_days" value="{{ employee.VacationDays }}"
                   placeholder="Nhập số ngày nghỉ phép">
                </div>

                <div class="text_item">
                    <p for="paid_to_date">Paid to Date</p>
                    <input type="text" class="form-control" id="paid_to_date" name="paid_to_date" value="{{ employee.PaidToDate }}"
                   placeholder="Nhập số tiền đã thanh toán đến ngày">
                </div>

                <div class="text_item">
                    <p for="paid_last_year">Paid Last year</p>
                    <input type="text" class="form-control" id="paid_last_year" name="paid_last_year" value="{{ employee.PaidLastYear }}"
                  placeholder="Nhập số tiền đã thanh toán năm trước">
                </div>
            </div>

            <div class="notifications"></div>
            <div class="buttons">
                <button type="submit" id="success">UPDATE</button>
            </div>
            <script>
                let notifications = document.querySelector('.notifications');
                let success = document.getElementById('success');

                function createToast(type, icon, title, text){
        let newToast = document.createElement('div');
        newToast.innerHTML = `
            <div class="toast ${type}">
                <i class="${icon}"></i>
                <div class="content">
                    <div class="title">${title}</div>
                    <span>${text}</span>
                </div>
                <i class="fa-solid fa-xmark" onclick="(this.parentElement).remove()"></i>
            </div>`;
        notifications.appendChild(newToast);
        newToast.timeOut = setTimeout(
            ()=>newToast.remove(), 5000
        )
    }
                success.onclick = function(){
        let type = 'success';
        let icon = 'fa-solid fa-circle-check';
        let title = 'Success';
        let text = 'This is a success toast.';
        createToast(type, icon, title, text);
    }
            </script>
        </div>
</form>
{% endblock %}