{% extends "base.html" %}
{% block title %}Employee list {% endblock %}
{% load static %}
{% block content123 %}
<link rel="stylesheet" href="{% static 'css/pemployee.css' %}" />
{% endblock %}

{% block content %}
<div class="list_employee__payroll">
    <table>
        <thead>
        <tr>
            <th>Employee Number</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>SSN</th>
            <th>PayRate</th>
            <th>ID PayRate</th>
            <th>Vacation Days</th>
            <th>Paid To Date</th>
            <th>Paid Last Year</th>
        </tr>
        </thead>
        <tbody>
        {% for Employee in Employees %}
        <tr>
            <td>{{ Employee.EmployeeNumber }}</td>
            <td>{{ Employee.LastName }}</td>
            <td>{{ Employee.FirstName }}</td>
            <td>{{ Employee.SSN }}</td>
            <td>{{ Employee.PayRate }}</td>
            <td>{{ Employee.PayRates_idPay }}</td>
            <td>{{ Employee.VacationDays }}</td>
            <td>{{ Employee.PaidToDate }}</td>
            <td>{{ Employee.PaidLastYear }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
</div>
{% endblock %}
