{% extends "base.html" %}
{% block title %}Payrate list {% endblock %}
{% block content123 %}
<style>
    body {
    font-family: Arial, sans-serif;
}

.list_payrate__payroll {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}



</style>
{% endblock %}
{% block content %}

<div class="list_payrate__payroll">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>PayRate Name</th>
            <th>Value</th>
            <th>Tax Percentage</th>
            <th>Pay Type</th>
            <th>Pay Amount</th>
            <th>PT Level C</th>
        </tr>
        </thead>
        <tbody>
        {% for payrate in payrates %}
        <tr>
            <td>{{ payrate.idPayRates }}</td>
            <td>{{ payrate.PayRateName }}</td>
            <td>{{ payrate.Value }}</td>
            <td>{{ payrate.TaxPercentage }}</td>
            <td>{{ payrate.PayType }}</td>
            <td>{{ payrate.PayAmount }}</td>
            <td>{{ payrate.PTLevelC }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}