{% extends "base.html" %}
{% block title %}Add Employee{% endblock %}
{% load static %}
{% block content123 %}
<link rel="stylesheet" href="{% static 'css/addpersonal.css' %}" />
{% endblock %}

{% block content %}
<div class="title_main">
    <a style="padding-top: 5px;" href="">
        <img src="{% static 'assest/previous.svg' %}" alt="">
    </a>
    <div class="list_main">
        <a href="{% url 'overview_app:totalpayrate' %}" class="previous_page">DashBoard</a>
        <p class="space">/</p>
        <a href="{% url 'overview_app:employee_detail' %}" class="previous_page">Employee Management</a>
        <p class="space">/</p>
        <a style="color: black;" href="" class="previous_page">Add Personal</a>
    </div>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="add_members">
            <div class="add_member-list-1">
                <h1 class="list_content">Add Personal</h1>
            </div>

            <ul class="add_member-title-1">
                <div class="input_information-left">
                    <div class="input_information">
                        <label for="personalid" class="information_content">Personal ID:</label><br>
                        <input type="text" id="personalid" name="personalid" class="input">
                    </div>

                    <div class="input_information">
                        <label for="first_name" class="information_content">First Name:</label><br>
                        <input type="text" id="first_name" name="first_name" class="input">
                    </div>

                    <div class="input_information">
                        <label for="middle_name" class="information_content">Middle Name:</label><br>
                        <input type="text" id="middle_name" name="middle_name" class="input">
                    </div>

                    <div class="input_information">
                        <label for="last_name" class="information_content">Last Name:</label><br>
                        <input type="text" id="last_name" name="last_name" class="input">
                    </div>

                    <div class="input_information">
                        <label for="birth_date" class="information_content">Birth Date:</label><br>
                        <input type="date" id="birth_date" name="birth_date" class="input">
                    </div>

                    <div class="input_information">
                        <label for="social_security_number" class="information_content-label">Social Security Number:</label><br>
                        <input type="text" id="social_security_number" name="social_security_number"
                               class="input">
                    </div>

                    <div class="input_information">
                        <label for="drivers_license" class="information_content">Driver's License:</label><br>
                        <input type="text" id="drivers_license" name="drivers_license" class="input">
                    </div>
                </div>
                <div class="input_information-mid">
                    <div class="input_information">
                        <label for="current_address_1" class="information_content">Current Address Line 1:</label><br>
                        <input type="text" id="current_address_1" name="current_address_1" class="input">
                    </div>

                    <div class="input_information">
                        <label for="current_address_2" class="information_content">Current Address Line 2:</label><br>
                        <input type="text" id="current_address_2" name="current_address_2" class="input">
                    </div>

                    <div class="input_information">
                        <label for="current_city" class="information_content">Current City:</label><br>
                        <input type="text" id="current_city" name="current_city" class="input">
                    </div>

                    <div class="input_information">
                        <label for="current_country" class="information_content">Current Country:</label><br>
                        <input type="text" id="current_country" name="current_country" class="input">
                    </div>

                    <div class="input_information">
                        <label for="current_zip" class="information_content">Current ZIP Code:</label><br>
                        <input type="text" id="current_zip" name="current_zip" class="input">
                    </div>

                    <div class="input_information">
                        <label for="current_gender" class="information_content">Gender</label>
                        <select class="input" id="current_gender" name="current_gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="input_information-right">
                    <div class="input_information">
                        <label for="current_phone_number" class="information_content">Phone Number:</label><br>
                        <input type="text" id="current_phone_number" name="current_phone_number" class="input">
                    </div>

                    <div class="input_information">
                        <label for="current_personal_email" class="information_content">Personal Email:</label><br>
                        <input type="email" id="current_personal_email" name="current_personal_email"
                               class="input">
                    </div>

                    <div class="input_information">
                        <label for="current_marital_status" class="information_content">Marital Status</label>
                        <select class="input" id="current_marital_status" name="current_marital_status">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Widowed">Widowed</option>
                        </select>
                    </div>

                    <div class="input_information">
                        <label for="ethnicity" class="information_content">Ethnicity:</label><br>
                        <input type="text" id="ethnicity" name="ethnicity" class="input">
                    </div>

                    <div class="input_information">
                        <label for="shareholder_status" class="information_content">Shareholder Status:</label><br>
                        <input type="text" id="shareholder_status" name="shareholder_status" class="input">
                    </div>

                    <div class="input_information">
                        <label for="benefit_plan" class="information_content">Benefit Plan</label>
                        <select class="input" id="benefit_plan" name="benefit_plan">
                            {% for plan in benefit_plans %}
                            <option value="{{ plan.BENEFIT_PLANS_ID }}">{{ plan.PLAN_NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </ul>
            <div class="notifications"></div>
            <div class="buttons">
                <button type="submit" id="success">Success</button>
            </div>
        </div>
    </form>
</div>

<script>
    let notifications = document.querySelector('.notifications');
    let success = document.getElementById('success');

    function createToast(type, icon, title, text){
        let newToast = document.createElement('div');
        newToast.innerHTML = `
            <div class="toast ${type}">
                <i class="${icon}"></i>
                <div class="content">
                    <div class="title">${title}</div>
                    <span>${text}</span>
                </div>
                <i class="fa-solid fa-xmark" onclick="(this.parentElement).remove()"></i>
            </div>`;
        notifications.appendChild(newToast);
        newToast.timeOut = setTimeout(
            ()=>newToast.remove(), 5000
        )
    }
    success.onclick = function(){
        let type = 'success';
        let icon = 'fa-solid fa-circle-check';
        let title = 'Success';
        let text = 'This is a success toast.';
        createToast(type, icon, title, text);
    }

</script>

{% endblock %}
