{% extends "base.html" %}
{% load static %}
{% block title %}Birth Day{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/birthday.css' %}" />
<body style="background: #f9fafb; position: relative">
<div class="main">
    <div class="title_main">
        <a style="padding-top: 5px" href="../index.html">
            <img src="{% static 'assest/previous.svg' %}" alt=""/>
        </a>
        <div class="list_main">
            <a href="{% url 'overview_app:totalpayrate' %}" class="previous_page">DashBoard</a>
            <p class="space">/</p>
            <a style="color: #ffff" href="" class="previous_page">BirthDay</a>
        </div>
    </div>
    <div class="container_main">
        <div class="container">
            <div class="left">
                <div class="calendar">
                    <div class="month">
                        <i class="fas fa-angle-left prev"></i>
                        <div class="date">december 2015</div>
                        <i class="fas fa-angle-right next"></i>
                    </div>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days"></div>
                    <div class="goto-today">
                        <div class="goto">
                            <input type="text" placeholder="mm/yyyy" class="date-input"/>
                            <button class="goto-btn">Go</button>
                        </div>
                        <button class="today-btn">Today</button>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="today-date">
                    <div class="event-day">wed</div>
                    <div class="event-date">12th december 2022</div>
                </div>
                <div class="events"></div>
                <div class="add-event-wrapper">
                    <div class="add-event-header">
                        <div class="title">Add Event</div>
                        <i class="fas fa-times close"></i>
                    </div>
                    <div class="add-event-body">
                        <div class="add-event-input">
                            <input
                                    type="text"
                                    placeholder="Event Name"
                                    class="event-name"
                            />
                        </div>
                        <div class="add-event-input">
                            <input
                                    type="text"
                                    placeholder="Event Time From"
                                    class="event-time-from"
                            />
                        </div>
                        <div class="add-event-input">
                            <input
                                    type="text"
                                    placeholder="Event Time To"
                                    class="event-time-to"
                            />
                        </div>
                    </div>
                    <div class="add-event-footer">
                        <button class="add-event-btn">Add Event</button>
                    </div>
                </div>
            </div>

            <button class="add-event">
                <i class="fas fa-plus"></i>
            </button>
        </div>

        <div class="menu_card">
            <div class="menu_card_top">
                <h2 class="menu_card_top_title">Upcoming</h2>
                <div class="line" style="width: 230px"></div>
            </div>

            <P style="color:white;F">There are {{birthday_count}} people with birthdays this month:</P>
            <div class="menu_card_main">
                {% for person in birthday_list %}
                <div class="card_info">
                    <div class="card_info_top">
                        <img src="{% static 'img/avatar.jpg' %}" alt="Avatar" class="avatar"/>
                        <p class="card_days">{{ person.3 }}</p>
                    </div>
                    <p class="card_name">{{ person.0 }} {{ person.1 }} {{ person.2 }}</p>
                    <div class="card_info_footer">
                        <p class="card_1">{{ person.4 }}</p>
                        <p class="card-1">{{ person.5 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'js/birthday.js' %}"></script>
{% endblock %}