{% extends "base.html" %}
{% load static %}
{% block title %}Benefit detail{% endblock %}

{% block content123 %}
<style>
    .main_last-chart {
  background-color: #fff;
  border: 4px solid black;
  border-radius: 20px;
  padding: 20px;
  padding-top: 5px;
  width: 75%;
  margin-left: 7.5rem;
}

.main_last-chart table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}

.main_last-chart th {
  padding: 15px;
  background-color: #5D5FEF;
  color: #ffffff;
  border-bottom: 2px solid #5D5FEF;
  text-align: left;
}

.main_last-chart td {
  padding: 15px;
}

.main_last-chart tr:nth-child(even) {
  background-color: #f2f2f2;
}

.main_last-chart a {
  color: #999999;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main_last-chart a:hover {
  color: #5D5FEF;
}

</style>
{% endblock %}
{% block content %}
<div class="main_last-chart" style="background-color: #ffffff; border-radius: 20px; padding: 20px; margin-top: 25px;">
    <p style="margin-top: 20px; border-top-width: 20px; margin-bottom: 20px; margin-left: 30px;">List of benefits for
        employees and shareholders</p>

    <table border="1">
        <tr>
            <th>PLAN NAME</th>
            <th>DEDUCTABLE</th>
            <th>PERCENTAGE COPAY</th>
            <th></th>
        </tr>
        {% for benefit in changebenefits %}
        <tr>
            <td style="padding-left: 15px;">{{ benefit.PLAN_NAME }}</td>
            <td style="padding-left: 40px;">{{ benefit.DEDUCTABLE }}</td>
            <td style="padding-left: 80px;">{{ benefit.PERCENTAGE_COPAY }}</td>
            <td>
                <a href="{% url 'overview_app:benefit_update' benefitid=benefit.BENEFIT_PLANS_ID %}"><img src="{% static 'assest/edit.svg' %}" alt=""></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
