{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEO Memo | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %} ">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

{% block content123 %}
{% endblock %}

<body style="background: #F9FAFB; position: relative;">
    <div class="topBar">
        <h1 class="topBar_title">DashBoard</h1>
        <div class="search">
            <input
            type="search"
            class="header__search"
            placeholder="Search here...">
            <div class="icon_serch">
                <img class="img_search" src="{% static 'assest/search.svg' %}" alt="search">
            </div>
        </div>
        <div class="topBar_right">
            {% if user.is_authenticated %}
            <div class="topBar_right-content">
                <h4 class="group_context" style="font-family: Poppins, sans-serif;">Hi {{ user.username }}</h4>
            </div>
            <img src="{% static 'assest/admin.svg' %}" alt="admin">
            {% else %}
                <a href="{% url 'login' %}" class="admin" style="font-family: Poppins, sans-serif; text-decoration: none; color: black;">Login</a>
                <a href="{% url 'signup' %}" class="admin" style="font-family: Poppins, sans-serif; text-decoration: none; color: black;">| Sìnup</a>
            {% endif %}
        </div>
    </div>

    <div class="side_bar">
        <div class="side_bar-top">
            <img class="side_bar-top-img" src="{% static 'assest/Fire.svg' %}" alt="">
            <h1 class="side_bar-top-title">CEO MEMO</h1>
        </div>
        <div class="side_bar-menu">
            <div class="side_bar-content" style="background-color: #5D5FEF;">
                <img src="{% static 'assest/overview.svg' %}" alt="">
                <a href="#" style="color: #ffff; text-decoration: none; font-family: Poppins, sans-serif; font-weight: bold;">Overview</a>
            </div>

            <div class="side_bar-content">
                <img src="{% static 'assest/human.svg' %}" alt="">
                <a href="#" style="color: #737791; text-decoration: none; font-family: Poppins, sans-serif; font-weight: 500">Human Resources</a>
                <img src="{% static 'assest/muiten.svg' %}" style="margin-left: 10px;" alt="">
            </div>

            <div class="dropdown">
                <li class="has-menu">
                    <div class="side_bar-content">
                <img src="{% static 'assest/payroll.svg' %}" alt="">
                <a href="#" style="color: #737791; text-decoration: none; font-family: Poppins, sans-serif; font-weight: 500">Payrolls</a>
                <img src="{% static 'assest/muiten.svg'%} " style="margin-left: 104px;" alt="">
            </div>

                    <ul class="menu">
                        <li><a href="{% url 'payroll_app:employee_list' %}">Employee</a></li>
                        <li><a href="{% url 'payroll_app:payrate_list' %}">Pay Rates</a></li>
                    </ul>
                </li>

            </div>

            <div class="side_bar-content">
                <img src="{% static 'assest/setting.svg' %}" alt="">
                <a href="#" style="color: #737791; text-decoration: none; font-family: Poppins, sans-serif; font-weight: 500">Settings</a>
            </div>

            <div class="side_bar-content">
                {% if user.is_authenticated %}
                <img src="{% static 'assest/out.svg' %}" alt="">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" style="color: #737791; background: none; border: none; cursor: pointer; font-family: Poppins, sans-serif; font-weight: 500;">Sign Out</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="main" style="margin-left: 356px;">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>